<h1>About Our Organization</h1>
<hr />
<p>
    This is about Us where we can do things that others cant do!!!!
</p>
<hr />
<footer>
    <p style="text-align:center; font-size:0.8em; font-style:italic">&copy; Phaniraj Training-@DateTime.Now.Year</p>
</footer>